<div class="right-container-order">
    <div class="header">
        <h1 id="order_show">Ma commande n°{{ order.reference }}</h1>
        <p>Détail et suivi de votre commande</p>
    </div>
    <div class="order">
        <p>Référence de la commande : {{ order.reference }}</p>
        <p>Commande passée le : {{ order.createdAt|date('d/m/Y') }}</p>
        <p>Statue de la commande :
            {% if order.state == 0 %}
            Cette commande a été commencée mais pas encore validée et payée.
            {% elseif order.state == 1 %}
            Nous avons reçu votre commande, nous la préparerons dès que possible.
            {% elseif order.state == 2 %}
            Nous préparons votre commande.
            {% elseif order.state == 3 %}
            Nous avons envoyée votre commande.
            {% elseif order.state == 4 %}
            Votre commande a été annulée.
            {% endif %}</p>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Photo à broder</th>
                    <th>Article</th>
                    <th>Taille</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in order.orderDetails %}
                <tr>
                    <td>
                        {% if order.state == 0 %}
                        <img src="{{ path('unvalided_order_client_photo', { filename: row.photoClient }) }}"
                            alt="votre photo : {{ row.photoClient }}">
                        {% else %}
                        <img src="{{ path('valided_order_client_photo', { filename: row.photoClient }) }}"
                            alt="votre photo : {{ row.photoClient }}">
                        {% endif %}

                    </td>
                    <td>{{ row.productName }}</td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ ( row.productSize.product.price / 100 )|number_format(2, ',', ',') }} €</td>
                    <td>{{ ( row.total / 100 )|number_format(2, ',', ',') }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="cost-order">
            <strong>Sous-total : </strong>{{ (order.getTotal / 100)|number_format(2, ',', ',') }} €<br>
            <strong>Livraison : </strong>{{ (order.carrierPrice / 100)|number_format(2, ',', ',') }} €<br>
            <strong>Total : </strong>{{ ((order.carrierPrice + order.getTotal) / 100 )|number_format(2, ',', ',') }} €
        </div>
        {% if order.state == 0 %}
        <a href="{{ path('order_payment', { 'ref' : order.reference }) }}"><button><span>Finaliser ma commande</span></button></a>
        {% endif %}
    </div>
</div>