<div class="right-container password">
    <h1>Modifier mon mot de passe</h1>

    {% if notif %}
    <div class="notif">{{ notif }}</div>
    {% endif %}

    {{ form_start(formChangePassword) }}

    <div class="form-group">
        {{ form_label(formChangePassword.old_password) }}
        <div class="input">
            {{ form_errors(formChangePassword.old_password) }}
            {{ form_widget(formChangePassword.old_password) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(formChangePassword.new_password.first) }}
        <div class="input">
            {{ form_errors(formChangePassword.new_password.first) }}
            {{ form_widget(formChangePassword.new_password.first) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(formChangePassword.new_password.second) }}
        <div class="input">
            {{ form_errors(formChangePassword.new_password.second) }}
            {{ form_widget(formChangePassword.new_password.second) }}
        </div>
    </div>


    <button type="submit" class="btn btn-lg btn-primary">
        <span class="text">Modifier</span>
    </button>
    {{ form_end(formChangePassword) }}

</div>