<div class="right-container">
    <div class="grid-template password">
        <div class="grid-1">
            <h1>Modifier mon mot de passe</h1>
            {% if notif %}
            <div class="notif">{{ notif }}</div>
            {% endif %}
        </div>
        <div class="grid-2">
            <p>Mot de passe actuel:</p>
            <p>Nouveau mot de passe :</p>
            <p>Confirmez le nouveau mot de passe :</p>
        </div>
        <div class="grid-3">
            {{ form_start(formChangePassword) }}
            <label>Mot de passe actuel:</label>
            {{ form_widget(formChangePassword.old_password) }}
            {{ form_widget(formChangePassword.new_password) }}
            <button class="btn btn-lg btn-primary" type="submit"><span class="text">Modifier</span></button>
            {{ form_end(formChangePassword) }}
        </div>
    </div>
</div>